---
import { useTranslations, getLangFromUrl } from "../../i18n/utils.js";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<article class="flex flex-col">
  <h2 class="text-3xl sm:text-4xl pb-5 font-bold">
    🎨 {t("personal-projects")}
  </h2>
  <section class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-10">
    <div
      class="flex flex-col bg-gray-50 dark:bg-darkLight dark:bg-opacity-50 bg-opacity-50 border pt-6 px-4 rounded-2xl duration-150 ease-linear group hover:shadow-lg cursor-default w-fit dark:shadow-stone-700"
    >
      <div class="flex flex-col gap-6 px-5 relative w-full">
        <div class="flex justify-between items-start gap-4">
          <div>
            <h4 class="text-3xl">{t("projects.0.title")}</h4>
            <p class="text-xl pt-2">2024</p>
          </div>
          <div class="flex flex-wrap gap-2 justify-end w-fit">
            <div
              class="bg-[#66dbfb] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#66dbfb]"
            >
              Fullstack
            </div>
            <div
              class="bg-[#FF3333] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#FF3333]"
            >
              {t("big-project")}
            </div>
            <a
              title="Cosmo AI Assistant"
              class="bg-[#cecece] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#cecece] flex gap-1 items-center"
              href="https://imcosmo.com/"
              target="_blank"
              aria-label="Open project link"
            >
              Link
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-external-link stroke-black dark:stroke-white"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                ></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"
                ></path></svg
              >
            </a>
          </div>
        </div>
        <p class="text-lg">
          {t("projects.0.description")}
        </p>
      </div>
      <div
        class="w-full flex pt-8 xl:pt-0 gap-5 items-center flex-col sm:flex-row lg:flex-col xl:flex-row justify-between px-5"
      >
        <div class="flex gap-5 h-fit w-fit justify-center">
          <div
            class="flex flex-row sm:flex-col lg:flex-row xl:flex-col flex-wrap gap-2 w-1/2"
          >
            <div
              class="bg-[#77c832] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#77c832]"
            >
              NodeJs
            </div>
            <div
              class="bg-[#3178c6] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#3178c6]"
            >
              TypeScript
            </div>
            <div
              class="bg-[#0eb6ff] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#0eb6ff]"
            >
              SQL
            </div>
          </div>
          <div class="w-1 h-26 bg-gray-200"></div>
          <div
            class="flex flex-row sm:flex-col lg:flex-row xl:flex-col flex-wrap gap-2 w-1/2"
          >
            <div
              class="bg-[#cecece] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#cecece]"
            >
              NextJS
            </div>
            <div
              class="bg-[#66dbfb] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#66dbfb]"
            >
              React
            </div>
            <div
              class="bg-[#a373ff] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#a373ff]"
            >
              AI
            </div>
          </div>
        </div>
        <div class="max-h-64 max-w-72 overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="/shots/imcosmo.png"
            alt="Full Stack App Cosmo AI"
            title="Full Stack App Cosmo AI"
          />
        </div>
      </div>
    </div>
    <div
      class="flex flex-col bg-gray-50 dark:bg-darkLight dark:bg-opacity-50 bg-opacity-50 border pt-6 px-4 rounded-2xl duration-150 ease-linear group hover:shadow-lg cursor-default w-fit dark:shadow-stone-700"
    >
      <div class="flex flex-col gap-6 px-5 relative w-full">
        <div class="flex justify-between items-start gap-4">
          <div>
            <h4 class="text-3xl">{t("projects.8.title")}</h4>
            <p class="text-xl pt-2">2024</p>
          </div>
          <div class="flex flex-wrap gap-2 justify-end w-fit">
            <div
              class="bg-[#bbe499] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#bbe499]"
            >
              Frontend
            </div>
            <div
              class="bg-[#FFD433] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#FFD433]"
            >
              {t("medium-project")}
            </div>
            <a
              title="Jetnova frontend web"
              class="bg-[#cecece] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#cecece] flex gap-1 items-center"
              href="https://www.jetnova.es/"
              target="_blank"
              aria-label="Open project link"
            >
              Link
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-external-link stroke-black dark:stroke-white"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                ></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"
                ></path></svg
              >
            </a>
          </div>
        </div>
        <p class="text-lg">
          {t("projects.8.description")}
        </p>
      </div>
      <div
        class="w-full flex pt-8 xl:pt-0 gap-5 items-center flex-col sm:flex-row lg:flex-col xl:flex-row justify-between px-5"
      >
        <div
          class="flex flex-row sm:flex-col lg:flex-row xl:flex-col gap-2 w-full"
        >
          <div
            class="bg-[#c5c5c5] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#b1b1b1]"
          >
            Next JS
          </div>
          <div
            class="bg-[#66dbfb] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#66dbfb]"
          >
            React
          </div>
          <div
            class="bg-[#3ebff8] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#3ebff8]"
          >
            Tailwind
          </div>
        </div>
        <div class="max-h-64 max-w-72 overflow-hidden">
          <img
            class="w-/12 h-full object-cover"
            src="/shots/jetnova.webp"
            alt="JetNova Preview"
            title="JetNova frontend web"
          />
        </div>
      </div>
    </div>
    <div
      class="flex flex-col bg-gray-50 dark:bg-darkLight dark:bg-opacity-50 bg-opacity-50 border pt-6 px-4 rounded-2xl duration-150 ease-linear group hover:shadow-lg cursor-default w-fit dark:shadow-stone-700"
    >
      <div class="flex flex-col gap-6 px-5 relative w-full">
        <div class="flex justify-between items-start gap-4">
          <div>
            <h4 class="text-3xl">{t("projects.1.title")}</h4>
            <p class="text-xl pt-2">2024</p>
          </div>
          <div class="flex flex-wrap gap-2 justify-end w-fit">
            <div
              class="bg-[#66dbfb] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#66dbfb]"
            >
              Fullstack
            </div>
            <div
              class="bg-[#FF3333] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#FF3333]"
            >
              {t("big-project")}
            </div>
          </div>
        </div>
        <p class="text-lg">
          {t("projects.1.description")}
        </p>
      </div>
      <div
        class="w-full flex pt-8 xl:pt-0 gap-5 items-center flex-col sm:flex-row lg:flex-col xl:flex-row justify-between px-5"
      >
        <div class="flex gap-5 h-fit w-fit justify-center">
          <div
            class="flex flex-row sm:flex-col lg:flex-row xl:flex-col flex-wrap gap-2 w-1/2"
          >
            <div
              class="bg-[#77c832] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#77c832]"
            >
              NodeJs
            </div>
            <div
              class="bg-[#f05539] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#f05539]"
            >
              Express
            </div>
            <div
              class="bg-[#0eb6ff] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#0eb6ff]"
            >
              MySQL
            </div>
          </div>
          <div class="w-1 h-26 bg-gray-200"></div>
          <div
            class="flex flex-row sm:flex-col lg:flex-row xl:flex-col flex-wrap gap-2 w-1/2"
          >
            <div
              class="bg-[#a373ff] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#a373ff]"
            >
              Vite
            </div>
            <div
              class="bg-[#66dbfb] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#66dbfb]"
            >
              React
            </div>
            <div
              class="bg-[#3ebff8] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#3ebff8]"
            >
              Tailwind
            </div>
          </div>
        </div>
        <div class="max-h-64 max-w-72 overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="/shots/sparkcollab.webp"
            alt="Full Stack App SparkCollab"
            title="Full Stack App SparkCollab"
          />
        </div>
      </div>
    </div>
    <div
      class="flex flex-col bg-gray-50 dark:bg-darkLight dark:bg-opacity-50 bg-opacity-50 border pt-6 px-4 rounded-2xl duration-150 ease-linear group hover:shadow-lg cursor-default w-fit dark:shadow-stone-700"
    >
      <div class="flex flex-col gap-6 px-5 relative w-full">
        <div class="flex justify-between items-start gap-4">
          <div>
            <h4 class="text-3xl">{t("projects.7.title")}</h4>
            <p class="text-xl pt-2">2024</p>
          </div>
          <div class="flex flex-wrap gap-2 justify-end w-fit">
            <div
              class="bg-[#bbe499] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#bbe499]"
            >
              Frontend
            </div>
            <div
              class="bg-[#2AE700] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#2AE700]"
            >
              {t("small-project")}
            </div>
            <a
              title="zentunes react web"
              class="bg-[#cecece] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#cecece] flex gap-1 items-center"
              href="https://zentunes.es/"
              target="_blank"
              aria-label="Open project link"
            >
              Link
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-external-link stroke-black dark:stroke-white"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                ></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"
                ></path></svg
              >
            </a>
          </div>
        </div>
        <p class="text-lg">
          {t("projects.7.description")}
        </p>
      </div>
      <div
        class="w-full flex pt-8 xl:pt-0 gap-5 items-center flex-col sm:flex-row lg:flex-col xl:flex-row justify-between px-5"
      >
        <div
          class="flex flex-row sm:flex-col lg:flex-row xl:flex-col gap-2 w-full"
        >
          <div
            class="bg-[#a373ff] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#a373ff]"
          >
            Vite
          </div>
          <div
            class="bg-[#66dbfb] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#66dbfb]"
          >
            React
          </div>
          <div
            class="bg-[#3ebff8] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#3ebff8]"
          >
            Tailwind
          </div>
        </div>
        <div class="max-h-64 max-w-72 overflow-hidden">
          <img
            class="w-/12 h-full object-cover"
            src="/shots/zentunes2.webp"
            title="Zentunes react app"
            alt="Zentunes react app"
          />
        </div>
      </div>
    </div>
    <div
      class="flex flex-col bg-gray-50 dark:bg-darkLight dark:bg-opacity-50 bg-opacity-50 border pt-6 px-4 rounded-2xl duration-150 ease-linear group hover:shadow-lg cursor-default w-fit dark:shadow-stone-700"
    >
      <div class="flex flex-col gap-6 px-5 relative w-full">
        <div class="flex justify-between items-start gap-4">
          <div>
            <h4 class="text-3xl">{t("projects.4.title")}</h4>
            <p class="text-xl pt-2">2024</p>
          </div>
          <div class="flex flex-wrap gap-2 justify-end w-fit">
            <div
              class="bg-[#bbe499] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#bbe499]"
            >
              Frontend
            </div>
            <div
              class="bg-[#FFD433] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#FFD433]"
            >
              {t("medium-project")}
            </div>
            <a
            title="astro portfolio"
              class="bg-[#cecece] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#cecece] flex gap-1 items-center"
              href="https://hugooliva.com/"
              target="_blank"
              aria-label="Open project link"
            >
              Link
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-external-link stroke-black dark:stroke-white"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                ></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"
                ></path></svg
              >
            </a>
          </div>
        </div>
        <p class="text-lg">
          {t("projects.4.description")}
        </p>
      </div>
      <div
        class="w-full flex pt-8 xl:pt-0 gap-5 items-center flex-col sm:flex-row lg:flex-col xl:flex-row justify-between px-5"
      >
        <div
          class="flex flex-row sm:flex-col lg:flex-row xl:flex-col gap-2 w-full"
        >
          <div
            class="bg-[#a373ff] w-fit bg-opacity-50 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#a373ff] texw"
          >
            Astro
          </div>
          <div
            class="bg-[#3ebff8] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#3ebff8]"
          >
            Tailwind
          </div>
          <div
            class="bg-[#fc4f13] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#fc4f13]"
          >
            HTML
          </div>
        </div>
        <div class="max-h-64 max-w-72 overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="/shots/portfolio.webp"
            alt="web developer portfolio"
            title="web developer portfolio"
          />
        </div>
      </div>
    </div>
    <div
      class="flex flex-col bg-gray-50 dark:bg-darkLight dark:bg-opacity-50 bg-opacity-50 border pt-6 px-4 rounded-2xl duration-150 ease-linear group hover:shadow-lg cursor-default w-fit dark:shadow-stone-700"
    >
      <div class="flex flex-col gap-6 px-5 relative w-full">
        <div class="flex justify-between items-start gap-4">
          <div>
            <h4 class="text-3xl">{t("projects.2.title")}</h4>
            <p class="text-xl pt-2">2023</p>
          </div>
          <div class="flex flex-wrap gap-2 justify-end w-fit">
            <div
              class="bg-[#bbe499] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#bbe499]"
            >
              Frontend
            </div>
            <div
              class="bg-[#FFD433] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#FFD433]"
            >
              {t("medium-project")}
            </div>
            <a
            title="first zentunes javascript app"
              class="bg-[#cecece] bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#cecece] flex gap-1 items-center"
              href="https://hugoolivar.github.io/zentunes/"
              target="_blank"
              aria-label="Open project link"
            >
              Link
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-external-link stroke-black dark:stroke-white"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                ></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"
                ></path></svg
              >
            </a>
          </div>
        </div>
        <p class="text-lg">
          {t("projects.2.description")}
        </p>
      </div>
      <div
        class="w-full flex pt-8 xl:pt-0 gap-5 items-center flex-col sm:flex-row lg:flex-col xl:flex-row justify-between px-5"
      >
        <div
          class="flex flex-row sm:flex-col lg:flex-row xl:flex-col gap-2 w-full"
        >
          <div
            class="bg-[#f7e025] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#f7e025]"
          >
            JavaScript
          </div>
          <div
            class="bg-[#3d9dd7] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#3d9dd7]"
          >
            CSS
          </div>
          <div
            class="bg-[#fc4f13] w-fit bg-opacity-60 h-fit px-2 rounded-2xl cursor-pointer border-2 border-[#fc4f13]"
          >
            HTML
          </div>
        </div>
        <div class="max-h-64 max-w-72 overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="/shots/zentunes.webp"
            alt="zentunes javascript app"
            title="zentunes javascript app"
          />
        </div>
      </div>
    </div>
  </section>
</article>
