---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Branch from '../components/Branch.astro';
---

<Layout title="Welcome to Astro.">
	<main class="pt-10 pl-16">
		<Branch />
		<Header>
	</main>
</Layout>