---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/NavBar.astro";
import PersonalProjects from '../components/projects/PersonalProjects.astro';
import ClientProjects from '../components/projects/ClientProjects.astro';
import { useTranslations, getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Personal projects and for clients | Hugo Oliva">
  <div
    class="h-[68px] fixed w-full backdrop-blur-sm z-10 flex items-center justify-center"
  >
    <Navbar />
  </div>
  <main class="py-20 px-4 sm:px-8 md:px-10 flex flex-col gap-10">
    <h2 class="text-4xl sm:text-5xl lg:text-7xl pb-5 font-bold">
      🌐 {t("all-projects")}
    </h2>
    <PersonalProjects />
    <ClientProjects />
  </main>
</Layout>
