<div
  class="absolute m-[-4rem] top-32 h-[900px] w-7 flex flex-col items-center gap-2"
>
  <img src="/blue.png" height="30" width="30" alt="logo" />
  
  <div class="h-[700px] w-1 bg-white"></div>
</div>
