<header class="flex justify-between">
  <section class="w-2/3">
    <h1 class="text-6xl font-bold">Hello 👋,<br /> i'm Hugo Oliva</h1>
    <p class="text-2xl mt-10">
      Frontend Developer with a strong passion for details. Specialized in React
      and committed to excellence in every project.
    </p>
  </section>
  <span
    class="relative size-56 bg-gray-700/60 border-4 border-blue shadow-lg rounded-full overflow-hidden"
    ><img
      alt="avatar"
      sizes="100vw"
      srcset="https://cdn.discordapp.com/attachments/875848488565489746/1232805767174819901/Captura_de_pantalla_2024-02-12_123516.png?ex=662acb57&is=662979d7&hm=8ca09b7692418ed3a40a87f14807c03cc9bc7f7661613910caef83aa516485f4&"
      src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Favatar.2d4d367d.png&w=3840&q=30"
      decoding="async"
      data-nimg="fill"
      class="rounded-full drop-shadow-2xl"
      style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover"
    />
  </span>
</header>
