---
interface Props {
  title: string;
}
const { title } = Astro.props;

const { currentLocale } = Astro;
console.log(currentLocale);
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const preferredTheme = localStorage.getItem("theme");
    if (preferredTheme === "dark") {
      document.documentElement.classList.add("dark");
    }
  });
</script>

<html lang={currentLocale} id="htmlElement">
  <head>
    <link rel="stylesheet" href="/css/main.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/icon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-11G1JWL605"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-11G1JWL605");
    </script>

    <meta
      name="description"
      content="Hugo Oliva | Web Developer and Designer. Professional portfolio showcasing innovative projects and creative tech solutions. Explore my work!"
    />

    <meta name="keywords" content="developer, programer, designer" />

    <meta name="author" content="Hugo Oliva" />
    <link rel="me" href="https://hugooliva.com" type="text/html" />
    <link rel="canonical" href="https://hugooliva.com" />

    <meta name="copyright" content="Hugo Oliva" />

    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body>
    <slot />
  </body>
</html>
